<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxgd.onemap.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.hxgd.onemap.entity.Car" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="moto_id" property="motoId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="license" property="license" jdbcType="VARCHAR" />
    <result column="driver" property="driver" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="area_carid" property="areaCarid" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getAreaList" resultType="java.lang.String">
	  	SELECT area from car 
		GROUP BY area
  </select>
  
  <select id="getAreaCarLicense" parameterType="java.lang.String" resultType="java.lang.String">
  		select license from car
		where area = #{area}
  </select>
  
</mapper>