<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        <!--响应式布局bootstrap  -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>一张图物流管理系统</title>
        <style type="text/css">  
			html{height:100%}  
			body{height:100%;margin:0px;padding:0px}  
			#bodys{height:500px;width:100%}  
		</style>  
		
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=qPD0GxOf7PGIlKGoWMho6d5uHQvL7SH8">
		</script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js">
		</script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.css"/>


<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.2/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- 如果不使用base,那么这种方式也是可以的,@{/你的文件路径},缺陷就是每次引用都必须带上th:src="@{/}"这个才能正确引用,具体用什么方式,看你们自己 -->
<script th:src="@{/js/laydate/laydate.js}"></script>
      
		
    </head> 
    <body>
       <div id="father">
       		<div id="head">
       			<form action="form_action.asp" method="get">
				 开始时间 <input id="chooseDataStart" type="text"/>
				 结束时间<input id="chooseDataEnd" type="text"/>
				 	  <input type="button" value="查询历史轨迹" onclick="history_location()" />
				</form>
       		</div>
       		
       		<div id="bodys">
       			
       		</div>
       		
       		<div id="foot">
       			<form action="" method="get">
				 开始时间 <input id="chooseFuelStart" type="text"/>
				 结束时间<input id="chooseFuelEnd" type="text"/>
				 	  <input type="button" value="查询油耗" onclick="fuel()" />
				</form>
       		</div>
       		
       		<div id="bottom">
       			<form action="" method="get">
				 	 <input id="showEveryCar" type="buttoon" value="显示所有车辆位置" onclick="showCarPosition()"/>
				 	 <select id="areaSelect" onchange="areaCarChange(this)">
				 	 
				 	 </select>
				 	<input id="showRadiusCar" type="buttoon" value="显示半径范围10公里车辆" onclick="getCarLocation()"/>
				 	
				</form>
       		
       		</div>
       		
       		<div >
       			<table id="testtable" class=" table-striped table-dark">
       			
       			</table>
       		
       		</div>
       </div>
      <div th:fragment="scripts(scripts)">
	        <script th:inline="javascript">
	            window.lng = [[${G7DataCurrent_location.lng}]];
	            window.lat = [[${G7DataCurrent_location.lat}]];
	            window.plate_num = [[${plate_num}]];
	        </script>
		</div> 
           <script type="text/javascript">
           var thisJs = this;
           var fields = ["loc"];
       	$.ajax({
			url:"http://localhost:8080/oneMap/car/getCarposition", 
			type:"POST",
			dataType:"JSON",
			async:false,
			success: function(datas){
				window.catData =  datas.data;
				var areaArr = [];
				var bool = false;
				
				window.catData.forEach((item1,index1,data1)=> {
					bool = false;
					areaArr.forEach((item2,index2,data2)=> {
						if(item2==item1["area"]){
							bool = true;
							return;
						}
					});
					if(!bool){
						areaArr.push(item1["area"]);
					}
					
				});
				var str = "<option>请选择标段</option>";
				areaArr.forEach((item,index,data)=> {
					str+="<option>"+item+"</option>";
				});
				$("#areaSelect").append(str);
				
	      	},
	      	error:function(e){
	      		alert("服务异常。请刷新后重试");
	      	}
		
	})
           
	
	
	
	
           $('#testtable').bootstrapTable({
        		method : 'post',
        		url : "http://localhost:8080/oneMap/car/bootstraptablegetCarposition",//请求路径
        		striped : true, //是否显示行间隔色
        		pageNumber : 1, //初始化加载第一页
        		pagination : true,//是否分页
        		sidePagination : 'client',//server:服务器端分页|client：前端分页
        		search: true,  
        		pageSize : 5,//单页记录数
        		pageList : [ 5, 10, 20, 30 ],//可选择单页记录数
        		columns : [ {
        			title : 'id',
        			field : 'id',
        		}, {
        			title : 'motoId',
        			field : 'motoId',
        		}, {
        			title : 'type',
        			field : 'type',
        		}, {
        			title : '车牌号',
        			field : 'license',
        		}, {
        			title : '司机id',
        			field : 'driver',
        		} , {
        			title : 'state',
        			field : 'state',
        		}, {
        			title : 'position',
        			field : 'position',
        		}, {
        			title : 'area',
        			field : 'area',
        		}, {
        			title : 'areaCarid',
        			field : 'areaCarid',
        		}]
        	});
           
           $('#testtable').on('click-row.bs.table', function (row,$element, field,) {
        	  console.log($element["position"]);
        	  var position  = $element["position"];
        	  if(position!=null){
        		  var posiArr =  position.split(",");
        		  map.setCenter(new BMap.Point(posiArr[0],posiArr[1]))
        	  }
        	 })
           
           laydate.render({
        	   elem: '#chooseDataStart' ,
        	   type:'datetime'
        	 });
           laydate.render({
        	   elem: '#chooseDataEnd' ,
        	   type:'datetime'
        	 });
           
           laydate.render({
        	   elem: '#chooseFuelStart' ,
        	   type:'datetime'
        	 });
           laydate.render({
        	   elem: '#chooseFuelEnd' ,
        	   type:'datetime'
        	 });
		var map = new BMap.Map("bodys"); 
	 	var lng =   window.lng;
		var lat =   window.lat; 
		var point = new BMap.Point(lng, lat);
		// 创建点坐标  
		map.centerAndZoom(point, 15);
		// 初始化地图，设置中心点坐标和地图级别  
		map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
		var myIcon = new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25));
		var mk = new BMap.Marker(point,{icon:myIcon});//创建标注图标
		map.addOverlay(mk);//将标注添加到地图中
		function history_location(){
			map.clearOverlays();
			var plate_num =  window.plate_num;
			var startTime = $("#chooseDataStart").val();
			var endTime = $("#chooseDataEnd").val();
			$.ajax({
				url:"http://localhost:8080/oneMap/test/history_location", 
				type:"POST",
				dataType:"JSON",
				data:{
					"plate_num":plate_num,
					"startTime":startTime,
					"endTime":endTime
				},
				success: function(datas){
					var arrs = [];
					datas.forEach((item,index,datas)=> {
						arrs.push(new BMap.Point(datas[index]["lng"],datas[index]["lat"]))
					});
					var polyline = new BMap.Polyline(arrs,
					    {strokeColor:"blue", strokeWeight:6, strokeOpacity:0.5}
					    );
					map.addOverlay(polyline);
					//创建小车图片
				 	var carIconstart = new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25));
					var carIconend = new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25));
					var start = new BMap.Marker(arrs[0],{icon:carIconstart});//创建标注图标
					var end = new BMap.Marker(arrs[arrs.length-1],{icon:carIconend});//创建标注图标
					map.addOverlay(start);
					map.addOverlay(end); 
		      	},
		      	error:function(e){
		      		console.log(e)
		      	}
				});
		}
		
		function fuel(){
			var plate_num =  window.plate_num;
			var startTime = $("#chooseFuelStart").val();
			var endTime = $("#chooseFuelEnd").val();
			/*<![CDATA[*/
				var params = "?plate_num="+plate_num+"&&from="+startTime+"&&to="+endTime; 
				/*]]>*/
		
			$.ajax({
				url:"http://localhost:8080/oneMap/test/fuel"+params, 
				type:"get",
				dataType:"JSON",
				success: function(datas){
					console.log("油耗数据=="+datas["fuel"])
					console.log("驾驶时长=="+datas["driving_time"])
					console.log("行驶里程=="+datas["mileage"])
		       
		      	},
		      	error:function(e){
		      		console.log(e)
		      	}
		})
		}
		
		//监听下拉框当有变动的时候就在地图上画出点位
		function areaCarChange(obj){
			if(obj!="请选择标段"){
				$.ajax({
					url:"http://localhost:8080/oneMap/car/getAreaCarLicense",
					type:"post",
					dataType:"JSON",
					data:{
						area:obj.value
					},
					async:false,
					success: function(datas){
						var areaLicenseposition =  thisJs.getG7AllCarPosition(datas,fields);
							map.clearOverlays();
							
								Object.keys(areaLicenseposition).forEach(function(key){
									if(areaLicenseposition[key]["data"]!=null){
										 var mark = new BMap.Marker(new BMap.Point(areaLicenseposition[key]["data"]["loc"]["lng"],areaLicenseposition[key]["data"]["loc"]["lat"]),{icon:myIcon});
										 var infoWindow = new BMap.InfoWindow(areaLicenseposition[key]["plate_num"]);
										 mark.addEventListener("click", function () { 
											 this.openInfoWindow(infoWindow);
										 });
									 map.addOverlay(mark);//将标注添加到地图中 
									}
								
							});
			      	},
			      	error:function(e){
			      		console.log(e)
			      	}
			})
			}
		}
		
		
		//获取有哪些车牌号
		var license = [];
		window.catData.forEach((item,index,datas)=> {
			license.push(item["license"]);
		});
		
		var arr1 = license.slice(0,100);//第一次的数组
		var arr2 = license.slice(100);//第二次的数组
		//获取g7需要的数据
		var g7PositionArr = [];
		
		g7PositionArr.push(thisJs.getG7AllCarPosition(arr1,fields));
		g7PositionArr.push(thisJs.getG7AllCarPosition(arr2,fields));
		function getCarLocation(){
			map.clearOverlays();
					var radiusCircle  = new BMap.Circle(point,10000, {
		                strokeColor:"#e61623", //线颜色
		                strokeWeight:2, //线宽
		                fillColor:"#f18900", // 填充色
		                fillOpacity:'0.1',  // 填充透明度
		            } );
					var notnullPositionarr = [];
					var positionArr = [];
				
					map.addOverlay(radiusCircle);
				//声明需要剔除的车牌号
				var hasNotArr = [];
				g7PositionArr.forEach((item1,index1,datas1)=> {
					Object.keys(item1).forEach(function(key){
						if(item1[key]["data"]!=null){
							var linshipoint = new BMap.Point(item1[key]["data"]["loc"]["lng"],item1[key]["data"]["loc"]["lat"]);
							if(10000>map.getDistance(point,linshipoint)){
								var mark = new BMap.Marker(linshipoint,{icon:myIcon});
								 var infoWindow = new BMap.InfoWindow(item1[key]["plate_num"]);
								 mark.addEventListener("click",function (){ 
									 this.openInfoWindow(infoWindow);
									 });
								     map.addOverlay(mark);//将标注添加到地图中 
							 	 }else{
							//添加进需要剔除的车牌号
							hasNotArr.push(item1[key]);
							} 
						}
					});
				})
					//接下来调用测距Api；
					thisJs.getDistance(positionArr);
		}
		
		//根据车牌号获取所有的定位数据
		function getG7AllCarPosition(license,fields){
			var arr;
			$.ajax({
				url:"http://localhost:8080/oneMap/car/getG7AllCarPosition", 
				type:"post",
				dataType:"JSON",
				async:false,
				data:{
					"plate_nums":JSON.stringify(license),
					"fields":JSON.stringify(fields)
				},
				success: function(datas){
					arr = datas.data
		      	},
		      	error:function(e){
		      		console.log("获取第数据错误")
		      	}
			})
			return arr;
		}
		
		//调用测距Api，当测距符合条件就添加到数组里面，最后进行返回；
		function getDistance(arr){
			var radiusPoint = [];
			arr.forEach((item,index,datas)=> {
				//这个地方不能用小于符号，不然解析异常
			
				})
		}
		
		//显示所有的车的信息
		function showCarPosition(){
			map.clearOverlays();
			g7PositionArr.forEach((item1,index1,datas1)=> {
				Object.keys(item1).forEach(function(key){
					if(item1[key]["data"]!=null){
						 var mark = new BMap.Marker(new BMap.Point(item1[key]["data"]["loc"]["lng"],item1[key]["data"]["loc"]["lat"]),{icon:myIcon});
						 var infoWindow = new BMap.InfoWindow(item1[key]["plate_num"]);
						 mark.addEventListener("click", function () { 
							 this.openInfoWindow(infoWindow);
						 });
					 map.addOverlay(mark);//将标注添加到地图中 
					}
				});
			});
		}
	</script>  
    </body>

</html>